/*******************
 * GENERAL STYLING *
 *******************/
.root {
    -fx-base: ececec;
    -fx-control-inner-background: derive(-fx-base,80%);
    ICON_ELEC_BLUE: #05C7F2; /* #304F8C; */
    ICON_BLUE: #117DBF;
    FOCUS_BLUE: #0096C9;
    HOVER: #BAEEFF;
    /*ICON_PURPLE: #A65698;*/
    ICON_YELLOW: #F2E744;
    ICON_GOLD: #F2C744;
    INSPIRE_ORANGE: #F2522E;
    BACKGROUND_DK_BLUE: #155A9F;

    FX_BACKGROUND: ICON_BLUE;
}
@font-face {
    font-family: 'Flaticon';
    src: url(../font/flaticon.ttf);
}
.field-label-description,
.field-value-description {
    -fx-text-fill: red;
}
.root-pane {
    -fx-padding: 0;
    -fx-font-family: 'Arial';
}

.flaticon .text {
    -fx-font-family: 'Flaticon';
}

.lang-button {
    -fx-border-color: dimgrey;
    -fx-background-color: white;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-border-width: 1px;
    -fx-text-fill: dimgrey;
    -fx-font-size: 24px;
    -fx-cursor: hand;
}

.lang-button:disabled {
    -fx-background-color: dimgrey;
    -fx-opacity: 1;
    -fx-text-fill: white;
}

.lang-button--left {
    -fx-background-radius: 5px 0 0 5px;
    -fx-border-radius: 5px 0 0 5px;
}

.lang-button--right {
    -fx-background-radius: 0 5px 5px 0;
    -fx-border-radius: 0 5px 5px 0;
}

.scroll-pane {
    -fx-padding: 0;
}

.content {
    -fx-padding: 10;
}

.controls {
    -fx-background-color: #e0e0e0;
    -fx-border-color: #b1b1b1;
    -fx-border-width: 0 0 0 1px;
}

.save-button,
.reset-button,
.toggle-button {
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-text-alignment: center;
    -fx-cursor: hand;
    -fx-background-radius: 4px;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
}

.save-button {
    -fx-text-fill: #fff;
    -fx-background-color: #337ab7;
    -fx-border-color: darkblue;
}

.save-button:hover {
    -fx-background-color: #2d6da4;
}

.save-button:pressed {
    -fx-background-color: #286192;
}

.reset-button,
.toggle-button {
    -fx-text-fill: #333;
    -fx-background-color: #fff;
    -fx-border-color: #ababab;
}

.reset-button:hover,
.toggle-button:hover {
    -fx-background-color: #f0f0f0;
}

.reset-button:pressed {
    -fx-text-fill: #fff;
    -fx-background-color: red;
    -fx-border-color: darkred;
}

.bordered {
    -fx-border-color: #b1b1b1 transparent transparent transparent;
    -fx-border-width: 1px;
}


/* remove group outline */
.formsfx-group {
    -fx-border-width: 0px;
    /*-fx-border-color: TRANSPARENT;*/
    -fx-border-insets: 0px;
}

#formPane {
    /*-fx-border-color: ICON_BLUE;*/
    /*-fx-border-width: 0 0 0 0;*/
    -fx-background-color: #F7F7F7;
    -fx-margin-top: 20;
    -fx-margin-bottom: 20;
    -fx-padding: 10,0,10,0;
}

#infoPane {
    -fx-background-color: #F1F1F1;
    -fx-margin-top: 20;
    -fx-margin-bottom: 20;
    -fx-padding: 10,10,10,10;
}

#topBar {
    -fx-background-color: FOCUS_BLUE;
    -fx-pref-height: 40;
}

#lowerBar {
    -fx-background-color: FOCUS_BLUE;
    -fx-pref-height: 40;
}

#label-bold-white-emph {
    -fx-text-fill: #ffffff;
    -fx-font-size: 14;
}

#label-bold-grey-emph {
    -fx-text-fill: #01076d;
    -fx-font-size: 14;
}

#switch-label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 12;
}

#signUpLabel {
    -fx-text-fill: HOVER;
    -fx-font-size: 12;
}

#deckSubmitButton {
    -fx-background-color: FOCUS_BLUE;
    -fx-text-fill: #ffffff;
    -fx-font-weight: 600;
}

.sellSwitch {
    base-color: ICON_ELEC_BLUE;
    -fx-inner-border: base-color;
    -fx-body-color: base-color;
    -fx-inner-body-color: base-color;
    -fx-mark-highlight-color: base-color;
    -fx-text-fill: #333;
}

.sellSwitch .text {
    -fx-fill: #333;
}

.sellSwitch:selected .thumb-area {
    -fx-background-color: WHITE;
    -fx-inner-border: base-color;
    -fx-body-color: base-color;
    -fx-inner-body-color: base-color;
    -fx-mark-highlight-color: base-color;
}

#drop-down .text {
    -fx-text-fill: #ffffff;
}





